
<h1>Todos </h1>

<div class="flex-row">
  <div class="flex-1" fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">

    <mat-card appearance="outlined" class="search-card">
      <mat-card-title class="user-list-title">Users</mat-card-title>
      <mat-card-content class="flex-col" >

        <div class="flex-row gap-10 flex-wrap">
          <!-- Examples of filtering in Angular -->

          <mat-form-field class="input-field">
            <mat-label>Name</mat-label>
            <input matInput data-test="todoStatusInput" placeholder="Filter by name"
              [(ngModel)]="todoStatus" (input)="updateFilter()">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Company</mat-label>
            <input matInput data-test="todoOwnerInput" placeholder="Filter by company"
              [(ngModel)]="todoOwner" (input)="updateFilter()">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>
        </div>

        <div class="flex-row gap-10 flex-wrap">
          <!-- Examples of filtering on the server -->

          <mat-form-field class="input-field">
            <mat-label>Age</mat-label>
            <input matInput data-test="userAgeInput" type="number" placeholder="Filter by age"
              min="0" max="200" [(ngModel)]="todoCategory" (input)="getTodosFromServer()">
            <mat-hint>Filtered on server</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Role</mat-label>
            <mat-select (selectionChange)="getTodosFromServer()" [(ngModel)]="todoCategory" data-test="userRoleSelect">
              <mat-option>--</mat-option>
              <mat-option value="admin">Admin</mat-option>
              <mat-option value="editor">Editor</mat-option>
              <mat-option value="viewer">Viewer</mat-option>
            </mat-select>
            <mat-hint>Filtered on server</mat-hint>
          </mat-form-field>
        </div>

        <br>


        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="flex-row">
    @if (serverFilteredTodos) {
      <div class="flex-1" fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" >
        <!-- Switch between card and list view based on the viewType variable, set above in the mar-radio-group -->
        <div>
            <!-- Card grid view -->

            <!-- List view -->
              <mat-card appearance="outlined">
                <mat-card-content>
                  <mat-nav-list class="user-nav-list">
                    <h3 mat-subheader>Users</h3>
                    @for (todo of this.filteredTodos; track todo._id) {
                      <a mat-list-item [routerLink]="['/users', todo._id]" class="user-list-item">
                        @if (this.todo.avatar) {
                          <img matListItemAvatar [src]="todo.avatar" alt="Avatar for {{ todo.owner }}">
                        }
                        <span matListItemTitle mat-line class="user-list-name"> {{todo.owner}} </span>
                        <span matListItemLine class="user-list-role"> {{todo.owner}} </span>
                      </a>
                    }
                  </mat-nav-list>
                </mat-card-content>
              </mat-card>
        </div>
      </div>
    } @else {
      <div class="flex-1" fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="user-error">
        <mat-error>
          There was a problem loading the users. Possibly the server is down or perhaps there are network
          issues.
        </mat-error>
        <mat-error>
          Error message: {{ this.errMsg }}
        </mat-error>
        <mat-error>
          Please wait a bit and try again or start the server.
        </mat-error>
      </div>
    }

    <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->

  </div>
