

.todo-list-item {
  background-color: rgb(44, 47, 47);
  border: 1px solid black;
  margin-bottom: 1%;

}



.search-card {
  background-color: rgb(115, 134, 134);
  border: 1px solid black;;
}



.todo-list-title {
  padding: 1%;
  margin: 1%;
  background-color: rgb(167, 218, 201);
  border: 1px solid black;
}


